body {background-color: #0C0C0C;}
#title {
    font-family: Consolas, monospace;
    font-size: 30px;
color: #CCCCCC;
}
div {
word-wrap: break-word;
width: 500px;
margin: auto;
width: 50%;

padding: 10px;

}

#text {
    color: #CCCCCC;
    font-family: Consolas, monospace;
    font-size: 180%;
 
    }
    div {
    word-wrap: break-word;
  
    width: 500px;
    margin: auto;
    width: 50%;
    
    padding: 10px;
    
    }

    #buttonSection {

        color: rgb(241, 238, 238);
        }
        div {
        word-wrap: break-word;
        width: 500px;
        margin: auto;
        width: 50%;
        
        padding: 10px;
        
        }

        #individualButton{
         color: #0e0e0e;
            font-family: Consolas, monospace;
            font-size: 21px;
        }